@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
    .text-title-sm{
        @apply space-grotesk-medium text-sm text-[#3E7BFA];
    }
    .text-desc-lg{
        @apply uppercase space-grotesk-bold text-3xl lg:text-5xl
    }
    .responsive-section{
        @apply p-[20px] md:p-[40px] lg:p-[100px]
    }
    .full-img{
        @apply w-full object-cover
    }
    /* Card service */
    .selected-card-service{
        @apply bg-[#121D50] text-white shadow-2xl !important;
    }
    .selected-service{
        @apply bg-[#3E7BFA] text-white !important;
    }
    /* Consult */
    .consult-date{
        @apply inter-medium text-[12px] text-[8F90A6]
    }
    .consult-title{
        @apply text-[#0E2C5B] inter-bold text-xl
    }
    .selected-consult-card{
        @apply text-[#3E7BFA] !important;
    }
    .consult-desc{
        @apply inter-regular text-sm line-clamp-3
    }
    /* Form contact */
    .form-title{
        @apply inter-medium text-sm uppercase tracking-wider
    }
}
:root {
    --nav-height: 70px;

}
body {
    line-height: 1.5;
    /* min-width: 100vh; */
    width: 100%;
    /* prevent the user from scrolling horizontally */
    max-width: 100%;
    overflow-x: hidden;
    /* overflow-y:scroll; */
  }
.container {
    width: 100%;
    max-width: 1933px !important;
    margin: 0 auto;

}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.space-grotesk-normal {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.space-grotesk-medium {
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.space-grotesk-bold {
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    font-variation-settings:"slnt" 0;
  }
  .inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-variation-settings:"slnt" 0;
  }
  .inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
  }
.text-heading {
	/* font-size: 4.5rem; */
	font-weight: 700;
	line-height: calc(57.2 / 44);
}
.text-sub-heading {
	/* font-size: 3rem; */
	font-weight: 600;
	line-height: calc(57.2 / 44);
}
.text-title{
    /* font-size: 35px; */
    font-weight: 600;
}
.text-desc {
	/* font-size: 1.125rem; */
	font-weight: 400;
	line-height: calc(32.4 / 18);
}
/* HEADER */
header{
    transition: transform 0.2s;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;

}
header.scrolled{
    background-color: black;
    opacity: 0.98;
}
header nav a{
    color: white;
    font-weight: 500;
}
header .header-search{
    font-size: 30px;
}
header .language{
    width: 30px;
}
.selected-link{
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.selected-link a{
    color: #3E7BFA;

}
.sidebar{
    
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    opacity: 0;
    /* position: fixed;
    top: 0;
    right: 0; */
    height: 100vh;
    width: 400px;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(10px);
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.5s ease-in-out;
}
.sidebar.active{
    transform: translateX(0);
    opacity: 1;
    width: 100%;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.sidebar li:first-child {
    margin-right: auto;
}

.sidebar li {
    height: var(--nav-height);
}

.sidebar a {
    color: black;
    height: 100%;
    padding: 0px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
/* FOOTER */
/* footer .footer-link{
    transition: .24 ease;
}
footer .footer-link:hover{
    padding-left: 10px;
} */
/* HOME */
.home-banner{
    background-image: url('source/img/banner-color.png');
    height: 816px;
    background-size:cover;
    background-repeat: no-repeat;
    
}
#home .quote-begin{
    left: 120px;
    top: -50px;
}
#home .quote-end{
    bottom: -60px;
    right: 100px;
}
#home .img-home-banner{
    height: -webkit-fill-available;
}

/* SERVICES */
#services .banner{
    background-image: url('source/img/service-banner.png');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
/* Services Detail */
#services-detail .banner{
    background-image: url('source/img/service-banner.png');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
#about .banner{
    background-image: url('source/img/service-banner.png');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
#contact .banner{
    background-image: url('source/img/service-banner.png');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
/* COMPONENT */
/* Card service */
.card-service{
    padding: 32px;
    border-radius: 15px;
    background-color: white;
    color: black;
    transition: background-color 0.3s;
}

/* Consult  */
.card-consult:hover .consult-title{
    color: #3E7BFA;
}
.consult-title{
    font-size: 16px;
}
.consult-desc{
    font-size: 14px;
}
.card-consult {
    cursor: pointer;
}
/* ABOUT CARD */
.about-number-card{
    top: -31px;
    right: 15px;
}
/* google map */
.google-map{
    overflow: hidden;
    border: 0;
    width: 100%;
}
/* swiper */
.swiper {
    width: 100%;
    height: 100%;
}
.mySwiper .swiper-slide{
    background-image: linear-gradient(to right, #0E2C5B, #164BA0, #619DFD);
}
.mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next, .swiper-button-prev{
    color: white !important;
}
.mySwiper2 .swiper-slide{
    display: flex;
}
.hideOnMobile{
    display: block;
}
@media screen and (max-width: 767px) {
	.container {
		/* padding-left: 20px;
		padding-right: 20px; */
	}
	.text-heading {
		font-size: 25px;
	}
    .text-sub-heading {
		font-size: 2.25rem;
	}
    .text-desc{
        font-size: 16px;
    }
	/* .text-desc {
		font-size: 20px;
	} */
    
    .selected{
        background-color: unset;
        padding: 0px;
        border-radius: 0px;
    }
    .selected a{
        color: #3E7BFA;
    
    }
    
    /* HOME */
    .home-banner{
        height: 450px;
    }
    .home-banner-img{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    #home .quote-begin{
        width: 35px;
    left: 15px;
    top: -35px;
    }
    #home .quote-end{
        width: 35px;
        bottom: -28px;
        right: 50px;
    }
    .swiper-button-prev::after, .swiper-rtl .swiper-button-next:after{
        content: unset !important;
    }
    /* COMPONENT */
    /* Header */
    .hideOnMobile{
        display: none;
    }
    header .language{
        width: 25px;
        height: 25px;
    }
    a.header-logo{
        width: 60px;
    }
    /* Swiper */
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 25px !important;
    }
    /* Contact form */
    .contact-form .icon-contact{
        width: 65px;
    }
}
@media (min-width: 768px) and (max-width: 1025px) {
	.container {
		/* padding-left: 40px;
		padding-right: 40px; */
	}

	.text-heading {
		font-size: 38px;
	}
    /* HOME */
    #home-banner{
        height: 620px;
    }
    /* COMPONENT */
    .hideOnMobile{
        display: none;
    }
    /* HEADER */
    
    .sidebar{
        width: 100%;
    }
    .sidebar li a{
        color: black;
    }
    header .language{
        width: 25px;
        height: 25px;
    }
    
    /* COMPONENT */
    .contact-form .phone-contact{
        font-size: 20px;
    }
}